<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1></h1>

        {% if albumTest is empty %}
            <h3>Sorry, you don't have any albums by that artist yet!</h3>
        {% else %}
            {% for album in albumTest %}
                <img src="{{ album.getCoverArt() }}">
                <p>Name: {{ album.getTitle() }}</p>
                <p>By {{ album.getArtist() }}</p>
            {% endfor %}
        {% endif %}

        <form class="" action="/" method="get">
            <button type="submit">Clear Search:</button>
        </form>
    </body>
</html>
